@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 33% 98%;
    --foreground: 226 35% 11%;
    --card: 0 0% 100%;
    --card-foreground: 226 35% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 226 35% 11%;
    --primary: 229 47% 16%;
    --primary-foreground: 210 40% 98%;
    --secondary: 226 32% 94%;
    --secondary-foreground: 229 47% 16%;
    --muted: 226 32% 95%;
    --muted-foreground: 224 10% 46%;
    --accent: 243 75% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 226 22% 88%;
    --input: 226 22% 88%;
    --ring: 243 75% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 40% 7%;
    --foreground: 220 30% 96%;
    --card: 229 34% 10%;
    --card-foreground: 220 30% 96%;
    --popover: 229 34% 10%;
    --popover-foreground: 220 30% 96%;
    --primary: 220 30% 96%;
    --primary-foreground: 229 47% 12%;
    --secondary: 229 26% 16%;
    --secondary-foreground: 220 30% 96%;
    --muted: 229 26% 16%;
    --muted-foreground: 224 12% 64%;
    --accent: 243 75% 66%;
    --accent-foreground: 229 47% 10%;
    --destructive: 0 62.8% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 229 26% 17%;
    --input: 229 26% 17%;
    --ring: 243 75% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
